* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(160deg, #1e1e1e 0%, #2a2a2a 50%, #1e1e1e 100%);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.animated-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #1e1e1e, #2c2c2c, #1e1e1e);
  background-size: 400% 400%;
  z-index: -1;
}

.container {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.logo {
  width: 300px;
  margin: 0 auto 1rem;
  display: block;
  border-radius: 22px;
}



#anon-title {
  font-size: 56px;
  text-transform: capitalize;
  /* margin-bottom: 1.5rem; */
}

#anon-title span {
  opacity: 0;
  display: inline-block;
}

.ca-block {
  background: #2a2a2a;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 12px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
}

#copy-btn {
  padding: 6px 12px;
  background: #white;
  color: rgb(36, 36, 36);
  ;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.carousel {
  width: 2000px;
  /* 5 images x 400px */
  max-width: 100%;
  overflow: hidden;
  margin: 2rem auto;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease-in-out;
}

.carousel-track img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  flex-shrink: 0;
}

/* .carousel-img {
  width: 100%;
  max-width: 400px;
  display: none;
  margin: 0 auto;
  border-radius: 20px;
} */

/* .carousel-img.active {
  display: block;
} */

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.social-btn {
  text-transform: uppercase;
  width: 160px;
  /* adjust as needed */
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: rgb(36, 36, 36);
  font-size: 22px;
  cursor: pointer;
  transform-origin: center;

}

.social-btn:hover {
  background-color: grey;
}